<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{HH:mm:ss.SSS} %highlight([%-5level]) %cyan(%logger{36}) - %msg%n%ex
			</pattern>
		</encoder>
	</appender>

	<logger name="cl.kanopus.tools" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="cl.kanopus.deploysql" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<!-- Root logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>