<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" >
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} %-5level [%X{threadUniqueId}] [%X{threadAppKey}] %logger: %msg%n%throwable</pattern>
        </layout>
    </appender>
    
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold> <!-- default 20, means drop lower event when has 20% capacity remaining -->
        <appender-ref ref="CONSOLE" />
        <queueSize>1</queueSize> <!-- default 256 -->
        <includeCallerData>false</includeCallerData><!-- default false -->
        <neverBlock>true</neverBlock>
        <!-- default false, set to true to cause the Appender not block the application and just drop the messages -->
    </appender>
     
    <logger name="cl.kanopus" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE" />
    </logger>
    
     <!-- LOG everything at INFO level -->
    <root level="info" >
        <appender-ref ref="ASYNC_CONSOLE" />
    </root>
    
</configuration>
